.header {
  overflow: visible;
  position: relative;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  background: var(--c-dark-grey);
  transform: translateY(0%);

  @extend .transition;

  .header__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: calc(var(--padding-s) / 2);
    padding-right: 0;

    @media (--s) {
      padding-left: calc(var(--padding-l) / 2);
    }

    @media (--m) {
      padding-right: calc(var(--padding-l) / 2);

      &::after {
        left: calc(var(--padding-l) / 2);
        right: calc(var(--padding-l) / 2);
      }
    }
  }

  @media (--m) {
    overflow-y: visible;
  }

  &.is-scrolled-past {
    position: fixed;
    transform: translateY(0%);
    top: 0;
    left: 0;
    right: 0;

    body.search-activate & {
      height: calc(var(--nav-height-s) * 2);

      @media (--s) {
        height: calc(var(--nav-height-m) * 2);
      }

      @media (--m) {
        height: auto;
      }
    }

    &:not(:hover) {
      background: var(--c-dark-grey);

      .header__logo__svg {
        color: var(--c-white);
      }

      .header__mobile__toggle__bar {
        background-color: var(--c-dark-grey);
      }

      .header__menu {
        > .menu-item {
          a:not(.button) {
            color: var(--c-white);
          }

          &.current-menu-item {
            a:not(.button) {
              opacity: 0.6;
            }
          }
        }
      }
    }

    &.is-sliding-in {
      transition: none;
      transform: translateY(-100%);
    }

    + * {
      margin-top: var(--nav-height-s);

      @media (--s) {
        margin-top: var(--nav-height-m);
      }

      @media (--m) {
        margin-top: var(--nav-height-l);
      }
    }
  }
}

.header__nav {
  flex-grow: 1;
  text-align: right;
}

.header__menu {
  display: none;

  @media (--l) {
    display: block;
  }

  .menu-item {
    position: relative;
    display: inline-block;

    a {
      text-decoration: none;
    }

    &.current-menu-item {
      a:not(.button) {
        color: var(--c-blue);
      }
    }

    a:not(.button) {
      @extend .label;

      padding: 3.15em 0.65em;
      line-height: 1.3em;
      display: inline-block;

      @media (--ml) {
        padding: 3.15em 2.15em;
      }
    }

    > a:not(.button) {
      color: var(--c-lite-grey);
      line-height: 1em;
    }

    &:hover,
    &.current-menu-item:hover {
      > a:not(.button) {
        color: var(--c-blue);
      }
    }
  }
}

.header__icons {
  position: relative;
  z-index: 5;
}

.header__mobile__toggle {
  z-index: 5;
  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: var(--nav-height-s);
  height: var(--nav-height-s);
  // padding: 15px 10px;
  outline: none;
  background: transparent;
  border: 0;
  cursor: pointer;

  @media (--s) {
    padding: 17px 10px;
    width: var(--nav-height-m);
    height: var(--nav-height-m);
  }

  @media (--m) {
    margin-top: 6px;
    margin-right: -30px;
    width: var(--nav-height-m);
    height: var(--nav-height-m);
  }

  @media (--l) {
    display: none;
  }

  &::after {
    border-left: 1px solid var(--c-black);
    position: absolute;
    left: -20px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:focus {
    outline: none;
  }
}