.logged-in .header {
  top: 46px;

  @include size--m {
    top: 32px;
  }

  &.is-scrolled-past {
    top: 46px;

    @include size--m {
      top: 32px;
    }
  }
}

.header {
  overflow: visible;
  position: relative;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;

  &.is-scrolled-past {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--c-black);
  }

  .header__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .header__logo {
      height: var(--nav-height-s);
      width: 100%;
      max-width: 100px;

      @include size--m {
        height: 100px;
      }

      .image__img {
        max-width: 100%;
      }
    }

    .header__right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .share__link {
        color: var(--c-pink);
      }
    }
  }

  @include size--m {
    overflow-y: visible;
  }
}

.header__nav {
  flex-grow: 1;
  text-align: right;
}

.header__menu {
  display: none;

  @include size--m {
    display: block;
  }

  .menu-item {
    position: relative;
    display: inline-block;

    a {
      text-decoration: none;
    }

    &.current-menu-item {
      a:not(.button) {
        color: var(--c-pink);
      }
    }

    a:not(.button) {
      @extend .label;

      color: var(--c-pink);
      padding: 2.5em 1.75em 1em;
      text-transform: uppercase;
      line-height: 1.3em;
      display: inline-block;
    }

    > a:not(.button) {
      color: var(--c-white);
      line-height: 1em;
    }

    &:hover,
    &.current-menu-item:hover {
      > a:not(.button) {
        color: var(--c-pink);
      }
    }

    &:last-of-type a{
      padding-right: 0;
    }
  }
}

.header__shares {
  display: none;

  .share__icon {
    font-size: 18px;
    margin-right: 36px;
  }

  @include size--m {
    display: block;

    .share__icon {
      font-size: 18px;
      margin-left: 36px;
      margin-right: 0;
    }
  }

  &--mobile {
    display: block;

    @include size--m {
      display: none;
    } 
  }
}

.header__icons {
  position: relative;
  z-index: 5;
}

.header__mobile__toggle {
  z-index: 5;

  position: relative;
  display: inline-flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: calc(var(--nav-height-s) - 15px);
  height: calc(var(--nav-height-s) - 10px);
  outline: none;
  background: transparent;
  border: 0;
  cursor: pointer;

  @include size--m {
    display: none;
  }

  // &:after {
  //   border-left: 1px solid var(--c-black);
  //   position: absolute;
  //   left: -20px;
  //   height: 25px;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }

  &:focus {
    outline: none;
  }

  .header__mobile__toggle__bar {
    background: var(--c-pink);
    width: 100%;
    height: 2px;
    margin-bottom: 2px;
    transition: 300ms;
  }
}

.slideout-activate {
  .header {
    max-height: 100%;
    overflow-y: auto;
    background-color: var(--c-black);
  }

  .header__mobile__toggle__bar {
    &:first-child {
      transform: rotate(45deg) translate(9px, 9px);
    }

    &:nth-child(2) {
      @extend .fade-out;
    }

    &:nth-child(3) {
      transform: rotate(-45deg) translate(8px, -8px);
    }
  }
}