.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include size--l {
      flex-direction: row;
    }

    .footer__logo {
      height: auto;
      width: 100px;

      .image__img {
        max-width: 100%;
      }
    }
  }

  .footer__block {
    justify-content: center;
    padding: calc(var(--padding-s) / 2);
    background-color: var(--c-dark-grey);

    > * {
      margin: 0 1em;
    }
  }

  .footer__menu {
    margin: 0 auto;
    max-width: 320px;
    flex: 1;
    display: flex;
    flex-direction: row;

    @include size--l {
      flex-direction: column;
      align-items: flex-start;
    }

    .menu-item {
      @extend .label;

      text-transform: uppercase;
      padding: 0.5em;

      + .menu-item {
        margin-left: 2.5em;

        @include size--l {
          margin-left: 0;
        }
      }
    }

    a {
      text-decoration: none;
      color: var(--c-mid-lite-grey);
    }
  }

  &__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer__signup {
      width: 100%;

      .wpforms-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .wpforms-form {
          display: flex;

          .wpforms-field-container {
            .wpforms-field {
              input.wpforms-field-medium {
                max-width: none !important;
                border: 0;
                border-radius: 4px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
              }
            }
          }

          .wpforms-submit-container {
            .wpforms-submit {
              height: 38px;
              border: 0;
              border-radius: 4px;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              color: var(--c-white);
              background: var(--c-pink);
            }
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: var(--c-black);
    }
  }

  .footer__copyright {
    margin-bottom: 1em;

    @include size--m {
      margin-bottom: 0;
    }
  }

  .footer__meta {
    vertical-align: top;
    display: inline-flex;
    justify-content: space-evenly;
    width: 65%;
    margin-right: 0;

    @include size--m {
      width: auto;
    }
  }
}