.flickity-enabled {
  position: relative;
}

.carousel-images:focus {
  outline: none;
}

.flickity-button {
  display: none;
  appearance: none;
  border: none;
  background: transparent;
  color: var(--c-black);
  width: 105px;
  height: 50px;
  position: absolute;
  bottom: -20px;

  &:disabled {
    .flickity-button-icon {
      fill: var(--c-lite-grey);
    }
  }

  &:hover:not(:disabled) {
    .flickity-button-icon {
      fill: var(--c-pink);
    }
  }

  &.previous {
    left: -10px;
  }

  &.next {
    right: -10px;

    .flickity-button-icon {
      transform: translateY(-90%);
    }
  }

  @include size--s {
    display: block;
  }

  @include size--m {
    bottom: -80px;

    &.next {
      right: -40px;

      .flickity-button-icon {
        transform: translateY(-90%);
      }
    }
  }
}
