.select-wrapper {
  position: relative;

  select {
    @extend .label;

    width: 100%;
    z-index: 0;
    position: relative;
    padding: 1.25em calc(1.5em + 1.2em) 1.25em 1.5em;
    -webkit-appearance: none;
    cursor: pointer;
    border: 1px solid var(--c-lite-grey);
    border-radius: 0;
    background: var(--c-dark-grey);
    color: var(--c-white);
  }
}

.select-icon {
  pointer-events: none;
  width: 1.2em;
  z-index: 1;
  position: absolute;
  top: 50%;
  right: calc(1.2em / 2);
  transform: translateY(-50%);
  transform-origin: 30% 50%;
}

.gform_wrapper .ginput_container input[type="text"]:not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
.gform_wrapper .ginput_container select,
.gform_wrapper.gf_browser_chrome .ginput_container_select select,
.gform_wrapper .ginput_container textarea {
  @extend .transition;

  appearance: none;
  text-align: left;
  color: var(--c-black);
  background: transparent;
  padding: 0.75em 1em;
  border: 1px solid var(--c-lite-grey);
  border-radius: 0;

  &:focus {
    border-color: var(--c-pink);
    outline: none;
  }

  &::placeholder {
    color: var(--c-black);
    opacity: 1;
  }

  @include size--m {
    padding: 1.1em 1em;
  }
}

.gform_wrapper .gform_footer input.button.gform_button:not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="file"]) {
  width: auto;
  appearance: none;

  @extend .button;
  @extend .button--filled;
}

.gform_wrapper {
  form {
    .gform_body {
      .gform_fields {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0 -10px;
        padding: 0;
      }

      .gfield {
        width: 100%;
        margin: 0 0 25px 0;
        padding: 0;

        &.field-half {
          @include size--m {
            width: 50%;
          }
        }

        .ginput_container_select {
          position: relative;

          &::after {
            content: "";
            display: block;
            border: solid var(--c-lite-grey);
            border-width: 0 2px 2px 0;
            padding: 3px;
            position: absolute;
            right: 20px;
            top: calc(50% - 3px);
            transform: rotate(45deg) translateY(-50%);
          }
        }

        select[multiple="multiple"] {
          padding: 0.5em 1em;
        }
      }

      .gfield_label {
        @extend .label;

        display: block;
        margin-bottom: 5px;
      }

      .search-choice-close {
        transform: none;
      }
    }

    .gform_footer {
      padding: 0;
      margin: 0;

      .gform_button,
      input[type="submit"].gform_button {
        @extend .button;

        width: auto;
        border-radius: 0;
      }
    }
  }
}
