html,
body {
  height: 100%;
}

body.home,
body.single-events {
  #main_content {
    overflow: hidden;
  }
}

p + p {
  margin: 1.5em 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 1.4rem;
}

.bullet {
  position: relative;
  padding-left: 3em;

  &::after {
    content: "";
    height: 0.35em;
    width: 0.35em;
    background: var(--c-blue);
    display: block;
    position: absolute;
    transform: rotate(45deg);
    top: 0.65em;
    left: 1em;
  }
}

.sup {
  margin-bottom: 2em;

  @include size--s {
    margin-bottom: 3em;
  }
}

.sub {
  margin-top: 2em;

  @include size--s {
    margin-top: 3em;
  }
}

.gutter-l {
  @include gutter-l;
}

.gutter-r {
  @include gutter-r;
}

.gutter-t {
  @include gutter-t;
}

.gutter-b {
  @include gutter-b;
}

.gutter {
  @include gutter-l;
  @include gutter-r;
  @include gutter-t;
  @include gutter-b;
}

.gutter-t--small {
  @include gutter-t--small;
}

.gutter-b--small {
  @include gutter-b--small;
}

.back-link-wrapper {
  padding-top: calc(var(--padding-s) / 2);

  @include size--m {
    padding-top: calc(var(--padding-sm) / 2);
  }
}

.back-link {
  color: var(--c-mid-lite-grey);
  text-decoration: none;
}

.back-link-text {
  display: inline-block;
}

.back-link-icon {
  width: 1em;
  height: 1em;
  margin-top: -2px;
  vertical-align: middle;
  display: inline-block;
}

:focus {
  outline-color: #bfbfc2;
}

a {
  text-decoration: none;
  color: var(--c-blue);
}

.post__tickets-button {
  margin-top: 20px;
}

.container {
  padding: 15px;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;

  &--sm {
    max-width: 960px;
  }
}
