:root {
  --font-body: 'Helvetica Neue Regular';
  --font-display-heading: 'Helvetica Neue Regular';
  --font-heading: 'Helvetica Neue Regular';

  /* Containers */
  --container-xs: 490px;
  --container-s: 670px;
  --container-m: 895px;
  --container-l: 1040px;
  --container-ml: 1200px;
  --container-xl: 1400px;

  /* Padding */
  --padding-s: 40px;
  --padding-sm: 50px;
  --padding-m: 70px;
  --padding-l: 80px;

  /* Colors */
  --c-white: #fff;
  --c-black: #242020;
  --c-pink: #ff00ff;
  --c-lite-grey: #bbbbbb;
  --c-grey: #636363;
  --c-dark-grey: #191919;

  // not in use
  --c-pink-dark: #3aaaa1;
  --c-med-grey: #706d6d;
  --c-mid-lite-grey: #a4a1a1;
  

  /* #0070af; */

  /* Nav */
  --nav-height-s: 55px;
  --nav-height-m: 65px;
  --nav-height-l: 80px;
}

/* media queries */
// These weren't working yet so I just used the ones below. Not sure what the advantage is for the upper ones really
// @custom-media --s (min-width: 420px);
// @custom-media --m (min-width: 768px);
// @custom-media --l (min-width: 1000px);
// @custom-media --ml (min-width: 1200px);
