:root {

  /* Containers */
  --container-xs: 490px;
  --container-s: 670px;
  --container-m: 895px;
  --container-l: 1040px;
  --container-ml: 1200px;
  --container-xl: 1400px;

  /* Padding */
  --padding-s: 40px;
  --padding-sm: 50px;
  --padding-m: 70px;
  --padding-l: 80px;

  /* Colors */
  --c-white: #fff;
  --c-black: #242020;
  --c-black-trans: rgba(36,32,32,0.45);
  --c-pink: #ff00ff;
  --c-link: #00a9f8;
  --c-lite-grey: #bbbbbb;
  --c-grey: #636363;
  --c-dark-grey: #191919;

  /* Nav */
  --nav-height-s: 55px;
  --nav-height-m: 65px;
  --nav-height-l: 80px;
}

/* Font sizes */
$headerA: 2.1rem;
$headerB: 1.8rem;
$button: 2.2rem;
$copy: 1.5rem;
$small: 1.3rem;

$reg: 'Helvetica Neue Regular';
$bold: 'Helvetica Neue Bold';
$reg-it: 'Helvetica Neue Italic';
$bold-it: 'Helvetica Neue Bold Italic';
$bold-cnd: 'Helvetica Neue Black Condensed';

/* media queries */
// These weren't working yet.
// @custom-media --s (min-width: 420px);
// @custom-media --m (min-width: 768px);
// @custom-media --l (min-width: 1000px);
// @custom-media --ml (min-width: 1200px);
