/* critical:start */
.post {
  padding-top: calc(var(--padding-s) / 2);
  text-align: left;

  @include size--s {
    display: flex;
    justify-content: space-between;
  }

  @include size--m {
    padding-top: calc(var(--padding-sm) / 2);
  }
}

.post__image {
  @include size--s {
    width: 50%;
  }
}

.post__image__inner {
  @include size--s {
    position: sticky;
    top: calc(calc($gutter-v-s / 2) + var(--nav-height-m));

    @include size--m {
      top: calc(calc($gutter-v-m / 2) + var(--nav-height-l));
    }
  }
}

.post__image__image {
  padding-top: calc(100% * calc(4 / 3));
}

.post__content {
  margin-top: calc(var(--padding-s) / 2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include size--s {
    width: 50%;
    margin-top: 0;
    margin-left: calc(var(--padding-s) / 2);
  }

  @include size--m {
    margin-left: var(--padding-sm);
  }
}

.post__meta__item {
  padding-right: 2em;
  display: block;
  + .post__meta__item {
    padding-top: 2em;
  }
  @include size--s {
    + .post__meta__item {
      padding-top: 0;
    }
    display: inline-block;
  }
}

.post__meta__duration__icon,
.post__meta__date__icon,
.post__meta__social__icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.1em;
  overflow: visible;

  &.icon-facebook {
    margin-right: -0.5em;
  }
}

.post__meta__social__link {
  text-decoration: none;
  margin-left: 0.85em;
  margin-right: 0.15em;

  .post__meta__social__icon {
    width: 2em;
    height: 2em;
    padding: 0.35em;
  }
}
/* critical:end */

.post__audio {
  margin-top: calc(var(--padding-s) / 2);
  @include size--m {
    margin-top: calc(var(--padding-sm) / 2);
  }
}

.post__related,
.post__related__grid {
  overflow: hidden;
  padding-top: calc(var(--padding-s) / 2);
  @include size--m {
    padding-top: calc(var(--padding-sm) / 2);
  }
}

.post__related__grid {
  @include size--s {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
