.search__result {
  padding-top: var(--padding-s);
  padding-bottom: var(--padding-s);
}

.search__total {
  padding-bottom: 1em;
}

.search__result__title {
  a {
    color: var(--c-black);
    text-decoration: none;
  }
}

.searchwp-highlight {
  background: var(--c-lite-grey);
}

.search__more {
  text-align: center;
}
