/* critical:start */
.slideout {
  @extend .transition;

  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  overflow-y: auto;
  transform: translateX(100%);
  z-index: 6;
  flex: 1 0 auto;
  width: 100%;
}

.slideout__inner {
  @extend .transition;

  z-index: 3;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1 0 100%;
  width: 100%;

  @include size--l {
    display: none;
  }
}

.slideout__content {
  width: 100%;
  padding: 10px 20px;
  background: var(--c-black);
}

.slideout__menu {
  .menu-item {
    display: block;

    a {
      @extend .label;

      display: block;
      padding: 10px 0;
      color: var(--c-white);
      text-decoration: none;
    }
  }

  .menu-item:not(:last-child) > a {
    border-bottom: 1px solid rgba(var(--c-white), 0.2);
  }

  > .menu-item > a,
  .menu-item-has-children > a {
    padding: 19px 0 13px;
    text-transform: uppercase;
  }

  .menu-item-has-children {
    > a {
      position: relative;
      padding-right: 20px;
      cursor: pointer;
    }
  }

  .submenu-activate {
    > .sub-menu {
      opacity: 1;
      visibility: visible;
    }

    > a {
      border-bottom: 1px solid var(--c-black);

      > .submenu-icon {
        transform: rotate(180deg) translateY(50%);
      }
    }

    + .menu-item {
      > a {
        padding-top: 12px;
      }
    }
  }

  .submenu-no-accordion {
    > a::after {
      display: none;
    }
  }

  > .submenu-activate:last-child {
    padding-bottom: 0;
  }

  .submenu-icon {
    @extend .transition;

    width: 1.5em;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transform-origin: 30% 50%;
  }

  .sub-menu {
    @extend .transition;

    max-height: 0;
    margin-left: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: -1;

    .menu-item {
      > a {
        padding-left: 1.35em;
        padding-top: 1.35em;
        padding-bottom: 1.35em;
      }

      a {
        border: 0;
      }

      &:first-child {
        padding-top: 0.5em;
      }

      &:last-child {
        padding-bottom: 0.5em;
      }

      &.menu-item-has-children {
        padding-left: 15px;

        .menu-item:first-child {
          padding-top: 0;
        }

        > a {
          padding-top: 10px;
          padding-bottom: 15px;
        }
      }
    }

    .sub-menu__description {
      padding-top: 15px;
    }

    .menu-item:first-child .sub-menu__description {
      padding-top: 0;
    }
  }

  .menu-item.mega-menu .sub-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.slideout__block {
  border-top: 1px solid var(--c-black);
  margin-bottom: 15px;

  > h3 {
    display: block;
    text-transform: uppercase;
    margin: 20px 0 5px;
  }

  .menu-item a {
    display: block;
    padding: 8px 0;
  }
}

.slideout-overlay {
  @extend .transition;
  @extend .fade-out;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: rgba(var(--c-black), 0.7);
  z-index: 3;
  top: var(--nav-height-s);

  @include size--s {
    top: var(--nav-height-m);
  }

  @include size--l {
    display: none;
  }
}

.slideout-activate {
  overflow: hidden;

  .slideout__inner {
    pointer-events: visible;
  }

  .wrapper {
    overflow-y: hidden;
  }

  .slideout {
    display: flex;
    transform: translateX(0);

    @include size--m {
      display: none;
    }
  }

  .slideout-overlay {
    @extend .fade-in;
  }
}

.header-scrolled-past {
  .slideout {
    top: 0;
  }
}

/* critical:end */
