.text-image {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;

  .text-image__text {
    overflow: hidden;
    flex: 1;
    margin-bottom: 1.5rem;

    @include size--m {
      margin-bottom: 3rem;
    }
  }

  .text-image__button {
    margin-bottom: var(--padding-s);

    @include size--m {
      margin-bottom: calc(var(--padding-s) * 2);
    }
  }

  &__image-wrap {
    flex: 1;
    padding: 0 1.5em 0 0;

    .text-image__image {
      padding-top: calc(100% * 330 / 360);
    }
  }
}
