.hero {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include size--m {
      flex-direction: row;
    }
  }

  &__cover {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero__image {
      height: 400px;
      max-width: 400px;
      width: 100%;
      margin-bottom: 20px;

      @include size--m {
        max-width: 550px;
      }
    }
  }

  &__cover-subhead {
    margin-bottom: 30px;
  }

  &__link-set{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 420px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;

    @include size--m {
      margin-bottom: 0;
    }

    .link-set__image {
      height: 30px;
      width: 30px;
    }
  }

  &__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include size--m {
      align-items: flex-start;
      padding-left: 30px;
    }

    @include size--l {
      padding-left: 0;
    }

    img {
      width: 100%;
      max-width: 400px;

      @include size--m {
        max-width: 550px;
      }
    }
  }

  .hero__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    position: relative;
  }

  .hero__header {
    margin-bottom: 15px;
    color: var(--c-white);
  }

  .hero__subheader {
    margin-bottom: 15px;
    color: var(--c-mid-lite-grey);
  }

  .details__copy-eyebrow {
    font-family: $bold;
    font-size: $headerB;
    color: var(--c-pink);
  }

  .details__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .details-cta__subheader {
      font-family: $reg;
      margin-bottom: 20px;
    }
  }
}