#contact.content-section {
	background: var(--c-white);
}

.contact {
	display: flex;
	flex-direction: column;

	&__header.section-header {
		color: var(--c-black);
		padding-bottom: 40px;
		margin-bottom: 0;

		@include size--m {
			padding-bottom: 80px;
		}
	}

	&__content {
		width: 100%;

		div.wpforms-container-full .wpforms-form .wpforms-field-label-inline,
		div.wpforms-container-full .wpforms-form .wpforms-field-description {
			color: var(--c-black);
		}

		#wpforms-29-field_7-container {
			display: flex;
			flex-direction: column;
			width: 100%;

			#wpforms-29-field_7 {
				order: 2;
			}

			.wpforms-field-description {
				order: 1;
				margin-bottom: 10px;
				font-size: $copy;
			}

		}

		.wpforms-field-container {
			display: flex;
			flex-direction: column;

			@include size--m {
				flex-direction: row;
				flex-wrap: wrap;
			}

			.wpforms-field {
				padding: 0 20px 20px!important;

				@include size--m {
					width: 50%;

					&:last-of-type {
						width: 100%;
					}
				}
			}

			input.wpforms-field-medium,
			textarea.wpforms-field-medium {
				max-width: none !important;
				background: var(--c-black)!important;
				color: var(--c-white)!important;
				border: 0!important;
				border-radius: 4px!important;
				font-family: $reg!important;
			}
		}

		.wpforms-submit-container {
			width: 100%;
			display: flex;
			padding: 0 20px !important;
			justify-content: flex-end;

			.wpforms-submit {
				@extend .button;

				background: var(--c-pink) !important;
				color: white !important;
				border: 0 !important;
				border-radius: 4px;
				text-transform: uppercase;
			}
		}
	}
}